@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  background-color: white;
  width: 18rem;
  margin-top: 40px;
}
#scard {
  width: 20px;
  height: 20px;
}
#mcard {
  width: 40px;
  height: 40px;
}
#lcard {
  width: 120px;
  height: 120px;
}
#redfont {
  color: red;
  margin-left: 2px;
  font-size: 22px;
}
#blackfont {
  color: black;
  margin-left: 2px;
  font-size: 22px;
}
.rotate {
  transform: rotate(180deg);
}
.container-fluid {
  height: 370px;
}
.cardhead {
  height: 40px;
}
.cardbody {
  height: 260px;
  margin-top: 30px;
}
.cardfooter {
  height: 40px;
  margin-top: 3px;
}
.d-inline-flex {
  padding: 80px;
}
input:first-child {
  margin-top: 10px;
}
h1 {
  text-align: center;
}
#cardLettersR {
  font-size: 180px;
  color: red;
}
#cardLettersB {
  font-size: 180px;
  color: black;
}
